body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 100px;
    height: 100vh;
    background: linear-gradient(38deg, rgba(80,78,78,1) 0%, rgba(159,135,17,0.5061425061425062) 100%);
    background-repeat: no-repeat;
}
.box {
    border: 1px solid white;
}
.question {
    color: aliceblue;
    font-weight: 700;
    font-size: 24px;
    margin: 20px;
    border-bottom: 2px solid white;
}
#answer {
    padding: 6px 12px;
    background-color: rgb(1, 181, 1);
    color: white;
    border: none;
    border-radius: 4px;
    margin: 10px;
    transition: border linear .2s;
    outline: none;
}
#answer::placeholder {
    color: white;
}
#answer:active, #answer:focus {
    border: 2px solid white;
} 
.check-btn {
    padding: 6px 12px;
    background-color: rgb(25, 96, 218);
    color: wheat;
    border: none;
    box-shadow: 0px 0px 5px 0px white;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: .3s;
}
.check-btn:hover {
    background-color: white;
    color: blue;
}

.result {
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    background-color: rgba(240, 255, 255, 0.801);
    box-shadow: 0px 0px 6px 0px rgb(255, 255, 255);
    border-radius: 4px;
}
.correct {
    color: green;
}
.incorrect {
    color: red;
}
.final-result {
    
    font-size: 24px;
    margin: 20px;
}
.green {
    color: green;
}
.yellow {
    color: yellow;
}
.red {
    color: red;
}